*{
padding: 2  0;
margin: 0;
}
body{
    background-color: white;
}
.home{
    font-size: 20px;
}
button{
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

.footer{
    background-color: blue;
    color: white;
}
a{
color: red;
}