
body{
    background-color: white;
}
.home{
    font-size: 20px;
    border-bottom: 2px whitesmoke solid;
    padding: 20px;
}
button{
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

.footer{
    background-color: blue;
    color: white;
}
a{
color: red;
}
.choose img_2{
    height: 400px;
    width: 400px;
}
img{
    height: 400px;
    width: 400px;
}