* {
    font-weight: 200;
}

body {
    margin: 0;
    background-color: white;
    
    font-size: 1em;
    
}

/* */
.home {
    height: 100px;
    min-width: 100px;
    font-size: 20px;
     -bottom: 5px whitesmoke solid;
    padding: 30px;
}

.hm_v {
    float: left;
    font-family: 'Ribbon 131 Bd BJ';
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    margin-right: 400px;
}

.home a {
    color: black;
    text-decoration: none;
    

}

.home a:active {

    color: blue;
}

.hm_h {
    padding: 10px;
    width: 250px;
    margin: 10px;
    float: left;
    font-style: underline;
}

.hm_r {
    padding: 10px;
    width: 250px;
    margin: 10px;
    float: left;

}

.hm_l {
    width: 250px;
    padding: 10px;
    margin: 10px;
    float: left;

}

.hm_a {
    width: 250px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.hm_c {
    width: 250px;
    padding: 10px;
    margin: 10px;
    float: left;
}

.but_1 {
    float: right;
    width: 250px;
    margin: 10px;
    padding: 10px;
    height: 80px;
    color: white;

}

.but_1 a {
    background-color: blue;
    color: white;
}


/* Helping*/
.Help_al {
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 900px;
}

.helping_1 {
    height: 800px;
    width: 1000px;
    padding: 20px;
    float: left;
    text-align: left;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.helping_1 h1 {
    text-align: left;
    font-size: 5em;
}

.helping_1 p {
    font-size: 2em;
}

.crt_p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    text-decoration: none;
}

.House_Img {
    float: right;

}

.House_Img img {
    margin: 20px;
    height: 800px;
    width: 1000px;
    margin-right: 100px;
}

.but_2 {
    color: white;
    float: left;
    margin: 20px;
    padding: 20px;
}


.video {
    border : 10px black;
}

.video_ico {
    padding: 10px;
    height: 75px;
    font-size: 3em;
    border-radius: 100px;
    margin: 20px;
}

/**/
.search {
    width: 1400px;
    padding: 10px;
    margin: auto;
    font-size: 4em;
}

.loc {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.search_loc {
    display: inline-block bottom;
    padding: 0px;
    color: lightgrey;
    min-width: 100px;
    font-size: 30px;
    margin: 0px;

}

.loc img {
    height: 20px;
    background-color: white;
}

.prot {
    float: left;
    margin: 10px;
    padding: 10px;
}

.type {
    float: left;
    margin: 10px;
    padding: 10px;
}

.max {
    float: left;
    margin: 10px;
    padding: 10px;
}

.prices {
    float: left;
    padding: 10px;
    margin: 10px;
}

.search .but_3 {
    background-color: blue;
    color: white;
    font-size: 1em;
    height: 100px;
    width: 400px;
    padding: 10px;

}

.search .but_3 img {
    float: left;
    height: 50px;
    padding: 5px;
    fill: grey;
}

/* */

button {
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
}



/* footer*/

.footer {
    background-color: blue;
    color: white;
}

a {
    color: white;
    font-size: 1.5em;
}

.choose img_2 {
    height: 400px;
    width: 400px;
}





h1,
h2 {
    color: blue;
}

.products {
    width: 100%;
    text-align: center;
    height: 900px;
    padding: 20px;
    margin: 20px;
}

.products h1 {
    color: blue;
    text-align: left;
}

.products .prd_in {
    font-size: 2em;

}

.prd_in h1 {
    font-size: 2em;
}

#location {
    float: left;
    padding: 20px;
    text-align: center;
    height: 200px;
    width: 150px;

}

.loc_pin {
    height: 30px;
    width: 20px;
    position: relative;
}

.payments {
    margin: auto;
    padding: 20px;
    text-align: center;
    height: 500px;
    width: 200px;
    margin: auto;

}



#smart {
    height: 60px;
    width: 80px;
    margin: auto;


}

#official {

    float: right;
    margin: auto;
    padding: 20px;
    text-align: center;
    height: 500px;
    width: 150px;
}

.secure {
    height: 100px;
    width: 100px;
}

.choose {
    height: 1000px;

}

.choose_1 {
    float: left;
    width: 45%;
    height: 50%;
    padding: 5px;
    margin-left: 15px;
    padding: 50px;
}

.choose_2 {
    float: right;
    text-align: center;

    margin-right: 5px;
    font-size: 2em;
    width: 45%;
    height: 40%;
}

.choose_2 p {
    padding: 10px;
    width: 100%;
}

p .sidel1 {
    text-align: left;

}

p .sidel2 {
    text-align: left;
}

p .sider1 {
    text-align: right;
}

p .sider2 {
    text-align: left;
}

/*properties*/
.properties {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin: 20px;
    
}
figcaption{

    font-size: 2em;
}
figcaption p{
    font-size: 16px;
    text-align: left;
}

.properties_main {
    text-align: justify;
    height: 100%;
}

.main {
    font-size: 2em;

}

.properties p {
    width: 100%;
    text-align: center;
}

.prts {
    width: 1000px;
    height: 2000px;
}

.prts .palace {
    float: left;
    height: fit-content;
    width: 100px;
    padding: 10px;
}

.prts .ptrs_ror2 {
    height: 1000px;
    width: fit-content;

}
.prts 

/* Customers*/
.customers_main{
    margin: 20px;
    height: 1000px;
    margin: 100px;
    padding: 20px;

    border: 10px blue solid;
}

    .custo_in{
        margin: 100px;
        border: 10px solid red;
        font-size: 2em;
        text-align: center;
    }



.cust_a_1 {
    height: 900px;
    width: 700px;
    padding: 20px;
    margin: 40px;
    margin-right: 40px;
    float: left;

    border: 10px solid black;

}

.cust_a_2 {

    height: 900px;
    width: 700px;
    padding: 20px;
    margin: 40px;
    margin-right: 40px;
    float: left;

    border: 10px solid red;
}

.cust_a_3 {
    height: 900px;
    width: 700px;
    padding: 20px;
    margin: 40px;
    margin-right: 40px;
    float: left;

    border: 10px solid yellow;
}
.but_5{
float: right;
}
/*Footer*/
.footer {
    background-color: blue;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 50px;
    font-family: Arial Verdana;
    width: 100%;
    height: 1000px;
    display: block;
}

.ft_val_1 {
    padding: 10px;
    float: left;
    margin: 20px;
    height: 400px;
}

.vallie {
    width: 300px;
    padding-right: 20px;
    text-align: left;
    font-family: 'Geneva', Tahoma, sans-serif;
    float: left;

}

.class > h4 {
    font-size: xx-large;
    font-weight: bolder;
    font-style: italic;
}

.ft_prt_2 {
    padding: 10px;
    float: left;
    margin: 20px;
    width: 300px;
    height: 400px;
}

.property {
    margin: 30px;
    width: 500px;
    padding: 20px;
}

.ft_abt_3 {
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    height: 400px;
    padding: 20px;

}

.about {
    margin: auto;
    padding: 10px;
}

.ft_res_4 {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 100px;
    padding: 20px;
    height: 400px;

}

.resources {
    margin: auto;

}